---
import { getCollection } from "astro:content";
import { dotDate } from "@shared/utils";
import MainLayout from "./MainLayout.astro";

const noteCollection = await getCollection("fleeting-notes");

const sortedNoteCollectionByLatestFirst = noteCollection.sort((a, b) =>
  a.data.publish_date > b.data.publish_date ? -1 : 1,
);
---

<MainLayout
  title="Fleeting Notes"
  breadcrumbs={[
    {
      href: "/",
      label: "/ notes",
    },
    {
      href: "/fleeting-notes",
      label: "/ fleeting",
    },
  ]}
>
  <main>
    {
      sortedNoteCollectionByLatestFirst.map(async (note) => {
        const { Content } = await note.render();
        return (
          <article class="prose mx-auto max-w-none prose-a:break-all">
            <h2>
              <a
                class="not-prose text-lg hover:link"
                href={`/${note.collection}/${note.slug}`}
              >
                {dotDate(note.data.publish_date)}
              </a>
            </h2>
            <div class="flex flex-row gap-2">
              {note.data.tags.map((tag) => (
                <span class="not-prose badge badge-ghost flex cursor-pointer border-black no-underline hover:badge-neutral dark:border-slate-100">
                  <a href={`/tags#${tag}`}># {tag} </a>
                </span>
              ))}
            </div>

            <Content />
            <hr />
          </article>
        );
      })
    }
  </main>
</MainLayout>
