---
import Seo from "../components/Seo.astro";
import PixelGrass from "../components/PixelGrass.astro";

import "../styles/global.css";

type BreadCrumb = { href: string; label: string };

interface Props {
  title?: string;
  description?: string;
  breadcrumbs?: BreadCrumb[];
}
const { title, description, breadcrumbs } = Astro.props;

const bio = `Hey I'm Alex. Senior engineer. Dad to Calvin. Based in London. This is where I dump my brain before I forget everything.`;

const socialLinks = [
  { href: "https://github.com/chiubaca", label: "GitHub" },
  { href: "https://bsky.app/profile/chiubaca.com", label: "Bluesky" },
  { href: "https://mas.to/@chiubaca", label: "Mastodon" },
  { href: "https://www.linkedin.com/in/achiu1/", label: "LinkedIn" },
  { href: "https://twitter.com/chiubaca", label: "X (Twitter)" },
  { href: "rss.xml", label: "RSS" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark only" />
    <meta name="theme-color" content="#34250d" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="chiubaca" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="chiubaca.com"
      href={new URL("rss.xml", Astro.site)}
    />

    <Seo title={title} description={description} />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <slot name="head" />
  </head>

  <body>
    <header
      class="flex items-center justify-between sticky top-0 backdrop-blur-lg z-10"
    >
      <nav class="font-mono text-xs sm:text-sm">
        {
          breadcrumbs && (
            <div class="flex flex-wrap break-after-avoid items-center gap-[1ch] py-2 pl-5">
              <a href="/" class="hover:opacity-75 uppercase font-bold tracking-tight">
                ~/
              </a>
              <span>/</span>
              {breadcrumbs.map((b) => (
                <span>
                  <a
                    href={b.href}
                    class="hover:opacity-75 break-keep uppercase tracking-tight after:content-['/']"
                  >
                    {b.label.length > 20
                      ? `${b.label.slice(0, 20)}...`
                      : b.label}
                  </a>
                </span>
              ))}
            </div>
          )
        }
      </nav>
    </header>

    <slot />

    <div class="footer-wrapper pt-12">
      <PixelGrass />
      <footer class="footer rounded p-2 bg-orange-950 opacity-75">
        <div class="max-w-2xl mx-auto px-5 py-4 md:px-0">
          <section class="flex items-center">
            <img
              loading="lazy"
              src="https://cdn.bsky.app/img/avatar/plain/did:plc:yiq6xbxnjzcsxipd3qq3r2hv/bafkreify73ikrqasx3zdusnarp6qrx3b2b2zpy2ixhgklfnj5oqyrvizge@jpeg"
              class="float-left mr-5 aspect-square w-16 rounded-full"
            />
            <p>
              {bio}
            </p>
          </section>
          <section class="pt-5">
            <p>
              {
                socialLinks.map((link, index) => (
                  <span>
                    <a
                      class="link hover:opacity-75 uppercase tracking-tight text-xs"
                      href={link.href}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {link.label}
                    </a>
                    {index < socialLinks.length - 1 && <span>/</span>}
                  </span>
                ))
              }
            </p>
          </section>
        </div>
      </footer>
    </div>
  </body>
</html>

<style is:global>
  html {
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
  }

  /* Style for anchor links within headings in prose content */
  article.prose :is(h1, h2, h3, h4, h5, h6) a {
    text-decoration: none;
  }

  article.prose :is(h1, h2, h3, h4, h5, h6) a::after {
    opacity: 50%;
    content: "↗";
    padding-left: 0.5ch;
    transition: opacity 0.2s ease-in-out;
  }

  article.prose :is(h1, h2, h3, h4, h5, h6) a:hover::after {
    opacity: 100%;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .footer-wrapper {
    margin-top: auto;
  }
</style>

<script>
  (function () {
    (window as any).counterscale = {
      q: [["set", "siteId", "chiubaca-com"], ["trackPageview"]],
    };
  })();
</script>

<script
  id="counterscale-script"
  src="https://counterscale.chiubaca.workers.dev/tracker.js"
  defer></script>
