---
import { getCollection, getEntry } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("permanent-notes");

  const slugPaths = blogs.map((blog) => {
    return {
      params: { slug: blog.slug },
    };
  });
  return slugPaths;
}

const { slug } = Astro.params;

const entry = await getEntry("permanent-notes", slug);
const { Content } = await entry.render();

const truncateString = (str, num) =>
  str.length > num ? str.slice(0, num) + "..." : str;

const truncatedSlug = truncateString(slug, 15);
---

<MainLayout title={entry.data.title} slug={truncatedSlug}>
  <meta name="keywords" content={entry.data.tags.toString()} slot="head" />
  {
    entry.data?.description && (
      <meta name="description" content={entry.data.description} slot="head" />
    )
  }

  <article class="prose mx-auto max-w-none">
    <h1>{entry.data.title}</h1>

    <div class="my-10 flex items-center justify-center gap-2 font-mono">
      {
        entry.data.tags.map((tag) => (
          <span class="badge border-black dark:border-slate-100">#{tag}</span>
        ))
      }
    </div>

    <Content />
  </article>
</MainLayout>
